<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TEST</title>
    <% for (var css in htmlWebpackPlugin.files.css) { %>
    <% if (htmlWebpackPlugin.files.css[css].includes('test')) { %>
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css[css] %>">
    <% } %>
    <% } %>
</head>
<body>
    <h1>HELLO TEST</h1>
    <% for (var js in htmlWebpackPlugin.files.js) { %>
    <% if (htmlWebpackPlugin.files.js[js].includes('test')) { %>
    <script src="<%= htmlWebpackPlugin.files.js[js] %>"></script>
    <% } %>
    <% } %>
</body>
</html>